* {
    box-sizing: border-box;
    font-family: 'Press Start 2P',
        cursive;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    overflow: hidden;
}


#gameModeSelection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 33vh;
}

#buttonContainer {
    margin-top: 1em;
}

#buttonContainer button {
    margin-top: 1em;
    padding: 2em;
    background: #66aaff;
    border: 1px solid black;
}

#buttonContainer button:hover {
    padding: 2em;
    background: none !important;
    color: white;
    border: 1px dotted #66aaff;
}

#gameContainer {
    margin-top: 10vh;
    background: none;
    display: none;
    justify-content: center;
    align-items: center;
}

input {
    margin: 1em;
    padding: 1em 3em;
    /* font-family: 'Press Start 2P', cursive; */
}

.board {
    display: flex;
    height: 450px;
    width: 450px;
    flex-wrap: wrap;
}

.cell {
    display: flex;
    flex-basis: 150px;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    line-height: 0vh;
    font-weight: 700;


}

.cell:hover {
    background: #66aaff90;
}



.cell:nth-child(3n+2) {
    border-left: 5px solid white;
    border-right: 5px solid white;
}

.cell:nth-child(-n+6) {
    border-bottom: 5px solid white;
}

#replay {
    padding: 2.2em;
    background: red;
    margin-top: 12vh;
    color: white;
    border: 2px solid black;
}

#replay:hover {
    background: none;
    color: black;
}

p {
    margin-top: 10vh;
    text-align: center;
    background: #00000090;
    padding: 1em;
}

@media screen and (max-width: 1820px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.8em !important;
    }

    .board {
        height: 420px;
        width: 420px;
    }

    .cell {
        flex-basis: 140px;
        font-size: 50px;
    }

    #replay {
        margin-top: 8vh;
        padding: 1.3em;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1720px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    .board {
        height: 420px;
        width: 420px;
    }

    .cell {
        flex-basis: 140px;
        font-size: 50px;
    }

    #replay {
        margin-top: 8vh;
        padding: 1.3em;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1520px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    .board {
        height: 360px;
        width: 360px;
    }

    .cell {
        flex-basis: 120px;
        font-size: 45px;
    }

    #replay {
        margin-top: 10vh;
        padding: 1.5em;
        font-size: 1em;
    }
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    .board {
        height: 300px;
        width: 300px;
    }

    .cell {
        flex-basis: 100px;
        font-size: 36px;
    }

    #replay {
        margin-top: 6vh;
        padding: 1.5em;
        font-size: 1em;
    }
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1.2em !important;
    }

    #gameModeSelection button {
        padding: 1em;
        font-size: .8em;
    }

    #gameModeSelection button:hover {
        padding: 1em;
        font-size: .8em;
    }

    .board {
        height: 300px;
        width: 300px;
    }

    .cell {
        flex-basis: 100px;
        font-size: 35px;
    }


    #replay {
        margin-top: 6vh;
        padding: 1em;
        font-size: 1em;
    }

    #refresh {
        padding: .6em;
        font-size: .6em;
    }
}

@media screen and (max-width: 540px) {
    h1 {
        font-size: 1em !important;
    }

    h2 {
        font-size: 1em !important;
    }

    #gameModeSelection button {
        padding: 1em;
        font-size: .7em;
    }

    #gameModeSelection button:hover {
        padding: 1em;
        font-size: .7em;
    }

    .board {
        height: 270px;
        width: 270px;
    }

    .cell {
        flex-basis: 90px;
        font-size: 35px;
    }

    #replay {
        margin-top: 12vh;
    }

    #refresh {
        font-size: .6em;
        padding: .8em;
        left: 1em;
    }
}

@media screen and (max-width: 480px) {


    #gameModeSelection button {
        padding: .8em;
        font-size: .6em;
    }

    #gameModeSelection button:hover {
        padding: 0.8em;
        font-size: .6em;
    }

    h1 {
        font-size: .9em !important
    }

    h2 {
        font-size: .9em !important
    }


    #refresh {
        padding: .6em;
        font-size: .5em;
        top: .6em;
        left: 1em;
    }
}